{% extends "_base.txt.j2" %}
{% block content %}Someone tried to register this email address, but an account already exists.
You can sign in or reset your password at {{ action_url }}.
If this was not you, no action is needed.
{% endblock %}
