{% extends "_base.txt.j2" %}
{% block content %}We received a request to reset your password. The link is valid for {{ minutes }} minutes and can be used once:
{{ action_url }}

If you did not request this, you can ignore this message.
{% endblock %}
