{% extends "_base.txt.j2" %}
{% block content %}Hello {{ first_name }},

It has been about six months since your last visit on {{ when }}. Regular check-ups and cleanings help catch small problems early.

Book an appointment: {{ book_url }}
Prefer to talk to us? Call {{ clinic_phone }}.

If you have already arranged a visit, please ignore this message.
{% endblock %}
